// Кольори
$colorTextPrimery: #ffffff;
$colorTextSecondary: #333;
$colorTextTetiary: #666;
$colorBtn: #FF4E50;
// Шрифти
$fontFamilyPrimary: "Montserrat", sans-serif;
$fontFamilySecondary: "Roboto", sans-serif;